@font-face {
    font-family: 'URW Geometric';
    src: url('../src/assets/font/URWGeometricBlack.otf') format('opentype');
    font-weight: bold;
}
@font-face {
    font-family: 'URW Geometric';
    src: url('../src/assets/font/URWGeometricBlack.otf') format('opentype');
    font-weight: normal;
}